<div style="display: flex;">
<div style="justify-content: flex-start; flex-direction: row;">
    <ul *ngFor="let book of this.books">
        <li>id : {{book.id}}</li>
        <li>title: {{book.title}}</li>
        <li>pages: {{book.pages}}</li>
        <li>author:{{book.author?.firstName}}  {{book.author?.lastName}}</li>
        <li>rating :{{book.rating?.star}}</li>
    </ul>

</div>
</div>
<div style="justify-content: flex-start; flex-direction: row;">

<ul  *ngFor="let author of this.authors">
    <li>id : {{author.id}}</li>
    <li>firstName: {{author.firstName}}</li>
    <li>lastName: {{author.lastName}}</li>
</ul>
</div>
<div class="form-control" style="justify-content: flex-end;">
<button (click)="submit()">add</button>
<input type="text" name="date" [(ngModel)]="title" id="booktitle" placeholder="add book title"/>
<input type="text" name="date" [(ngModel)]="pages" id="pages" placeholder="add book pages"/>
</div>

<div>
    <button (click)="ok()">show</button>
    <ng-container *ngIf="this.display">
        <select #ids (change)="onSelected(ids.value)">
            <option *ngFor="let id of this.id">
            {{id}}
            </option>
         </select>
    </ng-container>
</div>

